/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

header nav .container {
    display: flex;
    justify-content: space-between; /* niin, että painikkeet ovat oikealla ja logo vasemmalla */
    align-items: center; /*Kohdista logo ja painikkeet pystysuoraan*/
    padding: 20px 40px; /* Säädä niin, että se näyttää tilavammalta */
}

.logo-container {
    display: flex;
    align-items: center; /* Varmistaa, että logo on pystysuorassa linjassa */
}

.logo-img {
    width: 120px; /* Säädä logon kokoa */
}

.nav-buttons {
    display: flex;
    gap: 20px; /* Painikkeiden välissä oleva tila */
}

.nav-buttons .button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.nav-buttons .button.small {
    padding: 8px 16px;
    font-size: 14px;
}

.nav-buttons .button.primary {
    background-color: #007bff;
    font-size: 14px;
}

.nav-buttons .button:hover {
    background-color: #0056b3;
}

.nav-buttons .button.primary:hover {
    background-color: #0056b3;
}

/* Pienille näytöille */
@media (max-width: 768px) {
    header nav .container {
        flex-direction: column;
        align-items: center;
    }

    .nav-buttons {
        margin-top: 10px;
    }

    .logo-img {
        width: 100px;
    }
}



/* Pääsäiliö */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f4f6f9;
}

.text-content {
    max-width: 600px;
}

.text-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
}

.text-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: left;
}

.button.primary.large {
    background-color: #007bff;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.button.primary.large:hover {
    background-color: #0056b3;
}

.image-container {
    flex: 1;
    text-align: right;
}

.image-container img {
    max-width: 600px;
    height: auto;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 40px 20px;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    max-width: 250px;
    margin: 20px;
}

.footer-section h3 {
    color: #007bff;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    color: #007bff;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-media {
    margin-bottom: 30px; /* Lisää tilaa sosiaalisten verkostojen ja ostopainikkeiden väliin */
}

.social-media a {
    margin-right: 15px;
    font-size: 20px;
    color: #007bff;
}

.social-media a:hover {
    color: #0056b3;
}

.app-links {
    margin-top: 20px; /* Lisää tilaa myymäläpainikkeiden yläosaan */
}

.app-links a {
    display: inline-block;
    margin-right: 10px;
}

.app-links img {
    width: 150px;
    height: auto;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}

/*  Login */
.login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-container label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.login-container button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container .register-link,
.login-container .forgot-link {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: #007bff;
    font-size: 14px;
}

.login-container .register-link:hover,
.login-container .forgot-link:hover {
    text-decoration: underline;
}

/* register */
.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.register-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-container form input[type="text"],
.register-container form input[type="email"],
.register-container form input[type="password"],
.register-container form input[type="number"],
.register-container form select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.register-container form button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.register-container form button:hover {
    background-color: #0056b3;
}

.register-container p {
    text-align: center;
    font-size: 14px;
}

.register-container a {
    color: #007bff;
    text-decoration: none;
}

.register-container a:hover {
    text-decoration: underline;
}

.form-errors {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
}

.form-errors ul {
    list-style-type: none;
    padding: 0;
}

/* reset password */
.reset-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.reset-password-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.reset-password-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reset-password-container form input[type="email"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.reset-password-container form button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.reset-password-container form button:hover {
    background-color: #0056b3;
}

.reset-password-container p {
    text-align: center;
    font-size: 14px;
}

.reset-password-container a {
    color: #007bff;
    text-decoration: none;
}

.reset-password-container a:hover {
    text-decoration: underline;
}

.form-errors {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
}

.form-errors ul {
    list-style-type: none;
    padding: 0;
}

/* Username Recovery (estilos similares al login) */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.login-container label {
    display: block;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-container input:focus {
    border-color: #007bff;
    outline: none;
}

.login-container .button.primary {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.login-container .button.primary:hover {
    background-color: #0056b3;
}

/* Estilos para password_reset_done.html */
.reset-password-done-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reset-password-done-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.reset-password-done-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

/* Estilos para password_reset_done.html */
.reset-password-done-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reset-password-done-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.reset-password-done-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}


/* Estilos para password_reset_confirm.html */
.reset-password-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reset-password-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.reset-password-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reset-password-container form input[type="password"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.reset-password-container form button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.reset-password-container form button:hover {
    background-color: #0056b3;
}

.reset-password-container p {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

/* Estilos para password_reset_complete.html */
.password-reset-complete-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.password-reset-complete-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.password-reset-complete-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
}

.password-reset-complete-container .button.primary {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.password-reset-complete-container .button.primary:hover {
    background-color: #0056b3;
}
