<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{% static 'web/favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
</head>
<body>
    {% include 'web/header.html' %} <!-- Sisällytä header-tiedosto -->

    <main>
        <h2>Email Confirmation</h2>
        <p>We have sent you a confirmation email. Please check your inbox to activate your account.</p> <!-- Ilmoittaa, että vahvistusviesti on lähetetty -->

    </main>

    {% include 'web/footer.html' %} <!-- Sisällytä footer-tiedosto -->
</body>
</html>


