<!-- password_reset_confirm.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
    <link rel="icon" href="{% static 'web/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
</head>
<body>
    {% include 'web/header.html' %}
    <div class="reset-password-container"> <!-- Lomake salasanan palauttamista varten -->
        <h2>Reset Your Password</h2>
        <form method="post"> <!-- Lähetetään tiedot POST-metodilla -->
            {% csrf_token %} <!-- CSRF-suojaus lomakkeen lähettämiseksi turvallisesti -->
            {{ form.as_p }} <!-- Näyttää lomakkeen kentät p-elementteinä -->
            <button type="submit" class="button primary">Reset Password</button> <!-- Lähetä-painike salasanan palauttamiseksi -->
        </form>
    </div>
    {% include 'web/footer.html' %}
</body>
</html>

