<!-- password_reset_done.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
    <link rel="icon" href="{% static 'web/favicon.ico' %}" type="image/x-icon">
    <title>Password Reset Sent</title> <!-- Sivun otsikko -->
</head>
<body>
    {% include 'web/header.html' %}

    <main>
        <div class="reset-password-done-container"> <!-- Ilmoitus salasanan palautusviestin lähettämisestä -->
            <h1>Check your email</h1>
            <p>We have sent you an email with instructions to reset your password.</p> <!-- Viesti käyttäjälle -->
        </div>
    </main>

    {% include 'web/footer.html' %}
</body>
</html>

