<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
    <link rel="icon" href="{% static 'web/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Successful</title>
</head>
<body>
    {% include 'web/header.html' %}
    <div class="container">
        <h2>Password Successfully Reset</h2>
        <p>Your password has been reset. You can now log in with your new password.</p>
        <a href="{% url 'login' %}" class="button primary">Go to Login</a>
    </div>
    {% include 'web/footer.html' %}
</body>
</html>
