<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
    <title>Recover Username</title>
</head>
<body>
    {% include 'web/header.html' %}
    
    <main>
        <h2>Forgot Your Username?</h2>
        <form method="post">
            {% csrf_token %}
            <label for="email">Please enter your email:</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">Send username</button>
        </form>
    </main>

    {% include 'web/footer.html' %}
</body>
</html>
