<!--- username_recovery_done.html  -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
    <link rel="icon" href="{% static 'web/favicon.ico' %}" type="image/x-icon">
    <title>Username Recovery Success</title> <!-- Sivun otsikko - Käyttäjänimen palautuksen vahvistus -->
</head>
<body>
    {% include 'web/header.html' %} <!-- Sisällytä yläosa -->

    <main class="form-container"> <!-- Lomakkeen pääkontaineri -->
        <div class="form-box">
            <h2 class="form-title">Your username has been sent to your email address.</h2> <!-- Vahvistusviesti käyttäjälle -->
            <a href="{% url 'login' %}" class="button primary">Return to Login</a> <!-- Linkki kirjautumissivulle -->
        </div>
    </main>

    {% include 'web/footer.html' %} <!-- Sisällytä alaosa -->
</body>
</html>
