<!-- username_recovery.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
    <link rel="icon" href="{% static 'web/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username Recovery</title>
</head>
<body>
    {% include 'web/header.html' %}

    <main class="login-container">
        <h2>Recover Your Username</h2>
        <form method="post" action="{% url 'username_recovery' %}">
            {% csrf_token %}
            <label for="email">Enter your email address:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit" class="button primary">Send Username</button>
        </form>
    </main>

    {% include 'web/footer.html' %}
</body>
</html>
